.list-articles {

  .card {
    width: 100%;
    min-width: 270px;
    max-width: 350px;
    min-height: 280px;
    // height: 320px;
    border-radius: 8px;
    border: 1px solid #eef2f6;
    box-shadow: 0 0 16px rgba(51, 51, 51, 0.1);
    margin-bottom: 32px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out ;

    @include tablet-up {
      min-height: 320px;


      &:nth-child(odd) {
        margin-right: 32px;
      }
    }
    @include desktop-up {
      &:nth-child(even) {
        margin-right: 32px;
        margin-left: 32px
      }

      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  
    @include scale-animation-light;

    a {
      position: relative;
      width: 100%;
      height: 100%;
      @include flexbox(row, center, flex-end);
    }
  
    .topicon {
      position: absolute;
      top: -10px;
      right: 16px;
    }
  
    &__band {
      padding: 16px;
      height: auto;
      min-height: 130px;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);  
      backdrop-filter: blur(4px);
      margin-bottom: 24px;
      @include flexbox(column, space-evenly, center);
      text-align: center;

      @include tablet-up {
        padding: 24px;

      }
    }
  
    &__category {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      font: 900 18px/1 $proza;
    }
  
    &__line {
      border-bottom: 1.5px solid $black-light;
      width: 90%;
      margin: 8px 0;
  
    }
    &__restaurant {
      font: 900 28px/1 $proza;

      @include tablet-up {
        font-size: 32px;
      }
    }
  }
}

