marquee {
    font-family: $Spectral;
    @include tablet-up {
        display: none;
    }
}
.hero {
    
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: $Spectral;
    max-width: 1250px;
    
    &__anime {
        font-size: 14px;
        font-weight: 900;
        @include desktop-up {
            display: none;
        }
    } 
    &__image {
        &__mobile {
            display: block;
            @include desktop-up {
                display: none;
                
            }
        }
        &__desktop {
            display: none;
            @include desktop-up {
                display: block;
                
            }
        }   
    }
    &__texts {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 6%;
        @include desktop-up {
            width: 100%;
            margin-left: 0;
        }
        h1 {
            font-size: 24px;
            @include tablet-up {
                font-size: 33px;
                
            }
            @include desktop-up{
                width: 100%;
                font-size: 33px;
                padding-bottom: 0;
                margin-left: 6%;
                
            } 
        }
        span {
            color : $yellow;
        }    

    }
        &__mobile {
            background-color: $yellow;
            color: $whiteKC;
            width: 142px;
            margin: 0 0 8% 6%;
            border: none;
            font-weight: 900;
            padding: 4%;
            @include tablet-up{
                display: none;
            }



        }

    &__subhero {
        font-weight: 900;
        margin: auto;
        width: 85%;
        font-size: 15px;
        text-align: left; 
        margin-top: 8%;
        @include tablet-up{
            width: 64%;
            margin-top: -17%;
            margin-left: 6%;
        }

        @include desktop-up{
            width: 51%;
            position: absolute;
            margin-top: 24%;
        }
        @media (min-width: 1440px) {
            width: 38%;
            position: absolute;
            margin-top: 18%;
            margin-left: 5%;

        }
        @media (min-width: 2542px) {
            width: 29%;
            position: absolute;
            margin-top: 11%;
            margin-left: 3%;

        }

        & button {
            background-color: $yellow;
            color: $whiteKC;
            width: 80px;
            height: 39px;
            border: none;
            font-weight: 900;
            margin-top: 4%;
            
            & img{
                width: 30px;
                margin-top: -3%;
            }
        }

        & label {
            margin: 0;
            padding: 0;
        }

        & input {
            margin-top: 5%;
            @include tablet-up{
                margin: 0;
            }
            border: 1px $yellow solid;
            width: 63%;
            height: 39px; 
            &__button {
                margin-left: 2%;

            }
            
            
        }
    }
}
