.list-articles {
	max-width: 1250px;
	padding: 0 24px;
	margin: 40px auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	@include tablet-up {
		justify-content: center;
		padding: 0 24px;
		width: 100%;
	}
	@include desktop-up {
		justify-content: center;
		margin: 56px auto;
		padding: 0 24px;
		width: 100%;
	}

}
