
.subnavbar {
  margin: 0 auto;
  height: auto;

  @include tablet-up {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $whiteKC;

  }

  
  &__container {
    padding: 16px 24px;
    max-width: 1250px;
    border-bottom: 1px solid #eef2f6;
    margin: 0 auto;
    overflow-x: scroll;
    width: 100vw;

    
    @include tablet-up {
      padding: 24px;
    }


  }

  &__items {
    padding: 0;
    // margin: 0 auto;
    width: max-content;
    max-width: 500px;
    height: 100%;
    @include flexbox(row, flex-start, center);
    flex-wrap: wrap;
    overflow-x: scroll;
    list-style-type: none; 

    ::-webkit-scrollbar {
      display: none;
    }

    @include tablet-up {
      max-width: 100%;

    }
    @include desktop-up {
      justify-content: space-evenly;
      max-width: none;
      height: 40px;

    }

  }

  &__item {
    font-size: 14px;  
    background-color: $yellow;
    border-radius: 50px;
    padding: 8px 24px;
    margin: 4px;
    transition: all 0.3s ease-in-out ;

    @include scale-animation-light;


    @include desktop-up {
      margin: 0 8px;
    }

    
    &:hover {
      background-color: #F9A826;
    }
     
    a {
      text-decoration: none;
      color: $whiteKC;
      font-family: $Spectral;
      font-weight: bold;
      display: flex;
      align-items: center;
      text-transform: uppercase;


      img {
        width: 20px;
        margin-right: 8px;
      }
    }

  }
}

$subnavbar_item_on: #FF6542;

#taxo_ {

  .subnavbar__item[data-taxo-type="Tout voir"] {
    background-color: $subnavbar_item_on;

    a {
      color: $whiteKC;
    }
  }
}
#taxo_italianfood {

  .subnavbar__item[data-taxo-type="Italien"] {
    background-color: $subnavbar_item_on;

    a {
      color: $whiteKC;
    }
  }
}


#taxo_frenchfood {

  .subnavbar__item[data-taxo-type="Français"] {
    background-color: $subnavbar_item_on;

    a {
      color: $whiteKC;
    }
  }
}
#taxo_vietnamianfood {

  .subnavbar__item[data-taxo-type="Vietnamien"] {
    background-color: $subnavbar_item_on;

    a {
      color: $whiteKC;
    }
  }
}
#taxo_creolefood {

  .subnavbar__item[data-taxo-type="Créole"] {
    background-color: $subnavbar_item_on;

    a {
      color: $whiteKC;
    }
  }
}
#taxo_haleiwafood {

  .subnavbar__item[data-taxo-type="Hawaïenne"] {
    background-color: $subnavbar_item_on;

    a {
      color: $whiteKC;
    }
  }
}
#taxo_indonesianfood {

  .subnavbar__item[data-taxo-type="Indonésien"] {
    background-color: $subnavbar_item_on;

    a {
      color: $whiteKC;
    }
  }
}