


@font-face {
  font-family: 'spectralbold';
  src: url('../../fonts/spectral-bold-webfont.woff2') format('woff2'),
       url('../../fonts/spectral-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'spectralregular';
  src: url('../../fonts/spectral-regular-webfont.woff2') format('woff2'),
       url('../../fonts/spectral-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'karlaregular';
  src: url('../../fonts/karla-variablefont_wght-webfont.woff2') format('woff2'),
       url('../../fonts/karla-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'Karla';
  src: url('../../fonts/Karla-ExtraBold.woff2') format('woff2'),
      url('../../fonts/Karla-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../../fonts/Karla-Medium.woff2') format('woff2'),
      url('../../fonts/Karla-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../../fonts/Karla-Bold.woff2') format('woff2'),
      url('../../fonts/Karla-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spectral';
  src: url('../../fonts/Spectral-ExtraBold.woff2') format('woff2'),
      url('../../fonts/Spectral-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

