
//************************* COLORS *************************//

$white: #fff;
$whiteKC: #FAFAFA;
$black-light: #333;
$yellow: #EAB806;



//************************* FONTS *************************//

$proza: 'proza_libremedium', sans-serif;
$open_sansregular: 'open_sansregular', sans-serif;
$open_sanssemibold: 'open_sanssemibold', sans-serif;
$open_sansbold: 'open_sansbold', sans-serif;
