
//************************* COLORS *************************//

$white: #fff;
$whiteKC: #FAFAFA;
$black-light: #333;
$yellow: #EAB806;



//************************* FONTS *************************//

$montserrat: 'Montserrat', sans-serif;
